<h1 id="getting-started-fast-with-openshift">Learn OpenShift</h1>
<p>This guide will be completed with the <strong>OpenShift Trial</strong> available at <a href="https://manage.openshift.com/accounts/auth/keycloak"
    target="_blank">https://www.openshift.com/trial/</a>. Our link here directs you right to the signup screen for a
  developer trial - if you visit the link directly, be sure to select the <em>developer</em> track.</p>
<p>Complete the following steps to get going with an OpenShift trial account:</p>
<ol>
  <li><strong>Create a Red Hat account.</strong> You can also login with your Google account (which is what I did).
    You will be directed to:
    <ul>
      <li>Provide a username - this defaults to your email address if you login with your Google account</li>
      <li>Provide a password (keep track of this password - you'll need it for the steps in <a href="https://learn.openshift.com/introduction/getting-started/">the
          getting started guide</a>)</li>
      <li>Agree to the disclosures
        You will end up at an account dashboard letting you know that your environment is <em>queued for provisioning</em>.
        No worries - you've got a Red Hat account, so your job is done here for now. Head back to <a href="https://learn.openshift.com/introduction/getting-started/"
          target="_blank">the getting started guide</a>.</li>
    </ul>
  </li>
  <li>Enter the username and password from above in the <a href="https://www.katacoda.com/">Katakoda</a> Command Line
    Interface to the right. You will be logged in successfully with an active Red Hat account</li>
</ol>

<img src="/assets/openshift-online-login-screen.png" alt="OpenShift Online Login Screen" />
