<div class="container">
  <!--
    <h2>Source Code</h2>
    <hr />
    <h2>Videos</h2>
    A few videos to help with using the Azure Managed OpenShift environment
  -->

  <p></p>
  <h3>The Dashboard</h3>
  <div>
    Get a preview of the OpenShift dashboard, and creating a new project.
  </div>

  <!-- With Privacy Enhanced Mode -->
  <!--
    <iframe
      width="560"
      height="315"
      src="https://www.youtube-nocookie.com/embed/bkCdpF3MtLI"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  -->

  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/bkCdpF3MtLI"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>

  <hr />
  <h3>Setting up a NodeJS app</h3>

  <div>
    A guide showing the setup of a customized NodeJS application. Take a moment
    to check out the source code:
    <a
      href="http://gogs-demo.40.76.6.47.nip.io/uchilaka/trivial-nodejs-mongodb.git"
      target="_blank"
      >http://gogs-demo.40.76.6.47.nip.io/uchilaka/trivial-nodejs-mongodb.git</a
    >
  </div>

  <!--
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/zqqUESqaX0E"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  -->

  <iframe
    src="https://player.vimeo.com/video/299651093"
    width="640"
    height="400"
    frameborder="0"
    webkitallowfullscreen
    mozallowfullscreen
    allowfullscreen
  ></iframe>
</div>
