<h2>Additional Tools</h2>

Some additional Tools for you to use:

<ul>
  <li>
    Eclipse Ché:
    <a href="http://che-eclipse-che.40.76.6.47.nip.io" target="_blank"
      >http://che-eclipse-che.40.76.6.47.nip.io</a
    >
  </li>
  <li>
    Nexus:
    <a href="http://nexus-nexus.40.76.6.47.nip.io" target="_blank"
      >http://nexus-nexus.40.76.6.47.nip.io</a
    >
  </li>
  <li>
    Gogs:
    <a href="http://gogs-demo.40.76.6.47.nip.io" target="_blank"
      >http://gogs-demo.40.76.6.47.nip.io</a
    >
  </li>
  <li>
    Jenkins:
    <a href="http://jenkins-jenkins.40.76.6.47.nip.io"
      >http://jenkins-jenkins.40.76.6.47.nip.io</a
    >
  </li>
  <li>
    CLI:
    <a href="http://cli-inabox.40.76.6.47.nip.io" target="_blank"
      >http://cli-inabox.40.76.6.47.nip.io</a
    >
  </li>
</ul>
