<div class="container">
  <h1>Getting started with Office 365 Teams</h1>

  We've prepared a short video showing the steps to get started with Office 365
  Teams.

  <p></p>
  Before setting up Teams on your mobile device, be sure you've completed the
  following steps:

  <p></p>
  <ul>
    <li>
      Check your inbox for your Office 365 tenant setup email sent on 11/02 at
      about 4pm. The email has the details for access to the test tenant
    </li>
    <li>
      Visit <a href="https://www.office.com">office.com</a> to confirm access to
      your account
    </li>
    <li>
      Enter <em>firstname.lastname@adshackathon.onmicrosoft.com</em> for your
      username
    </li>
    <li>Enter the temporary password from your setup email (above)</li>
  </ul>

  When you complete your login, you should arrive at your O365 dashboard,
  showing the Office Apps.

  <p></p>

  <!-- actual height: 1138 -->

  <iframe
    src="https://player.vimeo.com/video/299518770"
    height="640"
    frameborder="0"
    webkitallowfullscreen
    mozallowfullscreen
    allowfullscreen
  ></iframe>
</div>
