// @import "~bootstrap/dist/css/bootstrap.min.css";

body {
  family: "Roboto", sans-serif;

  .container-fluid {
    padding-top: 3em;
    max-width: 1200px;
    margin: 0 auto;
  }

  img {
    max-width: 80% !important;
    margin: 0 auto;
    display: block;
  }

  #discus_thread {
    margin-left: 3em;
    margin-right: 3em;
  }
}
