<div class="container">
  <h1>First things first - Source Control</h1>

  <img
    id="gogs-screenshot"
    src="https://s3.amazonaws.com/com-comenity-dev/public/hackathon/gogs-screenshot.PNG"
    alt="GOGS Screenshot"
    class="small"
  />

  We've setup a source control app for all of your git needs during our event.
  To start using our very own <b>gogs</b> app, follow these 2 steps:
  <p></p>

  <ul>
    <li>
      Visit
      <a href="http://gogs-demo.40.76.6.47.nip.io/user/sign_up" target="_blank"
        >http://gogs-demo.40.76.6.47.nip.io/</a
      >
      to sign up for a new account
    </li>
    <li>
      Complete the signup form
      <b>be sure to use your Alliance Data email address</b>.
    </li>
  </ul>

  That's it! You'll be all set to start using source control (git).

  <blockquote>
    Ensure that when you commit your code, you use the HTTPS URL for your
    project <b>NOT SSH</b>. The GOGS environment we've setup does not allow
    connection via the SSH protocol.
  </blockquote>

  <app-other-tools></app-other-tools>
  <hr />

  <small>
    If you need a Google account for your project work, also ensure that you use
    a Google account that maps to your Alliance Data inbox.
    <a
      href="https://accounts.google.com/signup/v2/webcreateaccount?hl=en-AU&flowName=GlifWebSignIn&flowEntry=SignUp"
      target="_blank"
      >Follow this link to setup a Google Account (sans GMail)</a
    >. At the link, be sure to select the
    <b>Use my current email address instead</b> option.
  </small>
</div>
